body {
  background-color: #FFCCFF;
  font-family: Arial, sans-serif;
  color: #191970;
}

.kartu-profil {
  width: 550px;
  margin: 10px auto;
  padding: 10px;
  background-color: pink;
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.kartu-ptofil.img {
  width: 200px;
  border-radius: 50%;
}

